

<div class="my-container">
  <div id="top-left">
    <div class="centered">
      <a routerLink="spring">
        <h1>HEALTH</h1>
      </a>

    </div>
  </div>


    <div id="top-right-long">
      <div class="centered">
        <h1>NUTRITION</h1>
      </div>
    </div>



  <div id="middle-left">
    <div class="centered">
      <h1>HOME</h1>
    </div>
  </div>

  <div id="bottom">
    <div id="logo-one" class="logo"></div>
    <div id="logo-two" class="logo"></div>
    <div id="logo-three" class="logo"></div>
    <div id="logo-four" class="logo"></div>
  </div>

  <div id="footer-home">
    <p>made with <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon> by scorsaro</p>
  </div>
</div>

