<div id="my-container">

  <div id="left">
    <img id="left-img" src="assets/images/Iconos_e_Imagenes_Horaetu/herbal-vitamins-medicine.jpg" alt="">
  </div>
  <div id="right">
    <h1>Our supplements</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque quos vitae. Architecto dolore eum labore
      libero mollitia, nulla obcaecati odit saepe voluptatem! Adipisci id in non sed sunt unde.
    </p>
  </div>
  <div id="products">
    <a routerLink="/category/1 }}"></a>
    <app-catalogue-list></app-catalogue-list>
  </div>
</div>
