<mat-drawer-container [hasBackdrop]="true" id="app-container">

<!--left menu section-->

  <mat-drawer #drawer mode=over class="drawer" (mouseleave)="drawer.toggle()">

    <div id="drawer-container">
      <div id="drawer-header">
        <a routerLink="">
          <img id="logo" src="assets/images/logo/LOGO_HORAETU_TOG.svg" alt="">

        </a>

      </div>
      <div id="drawer-main">
        <app-search-bar></app-search-bar>
        <div class="space"></div>
        <app-category-menu></app-category-menu>
      </div>
      <div id="drawer-footer">
        <a routerLink="members">
          <h1>MY PROFILE</h1>
        </a>
        <a routerLink="admin" >
          <h1>ADMIN</h1>
        </a>
      </div>
    </div>
  </mat-drawer>


<!--  main section-->

  <mat-drawer-content id="page" class="my-container">

    <div class="main-header">
      <app-header></app-header>
      <div id="mobile-catalog">
        <h1 (click)="drawer.toggle()">CATALOGUE</h1>
      </div>
    </div>
    <div class="main-lefty" id="catalog-menu" (mouseenter)="drawer.toggle()">
      <h1 style="writing-mode: vertical-lr">CATALOGUE</h1>
    </div>
    <div class="main-content">
      <app-chatbot></app-chatbot>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>








